<%- include('partials/header') -%>
<h1> Home </h1>
<p> <%=homeStartingContent%> </p>

         <% post.forEach( (p)=>{ %>
             <P> <b><%= p.tittle %></b> </P>
         <% }) %>

<%- include('partials/footer') -%>